@import '@styles/theme.module.scss';

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced correctly */
}
.content {
    flex-grow: 1;
}


