.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  padding: 1.25em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
  filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Mobile Portrait
@media only screen and (max-width: 480px) {
  .image {
      width: 100%; // Full width for small devices
      height: auto;
  }

  .container {
      flex-direction: column; // Stack content on small screens
  }
}

// Tablet
@media only screen and (max-width: 768px) {
  .image-wrapper {
      flex-basis: 48%; // Resize to fit two columns on a tablet
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
